{% include "inc/header" %}

	<div class="box">
		<form class="pure-form" method="post" action="/done">
		<table class="pure-table pure-table-bordered">

		    <tbody>
		    	<tr>
		            <td>Number of books</td>
		            <td><input type="text" placeholder="" name="num" class="pure-input-1-4"> kan</td>
		        </tr>
		        <tr>
		            <td>Title</td>
		            <td><input type="text" placeholder="" name="name"></td>
		        </tr>
		        <tr>
		            <td>Title kana</td>
		            <td><input type="text" placeholder="" name="kana"></td>
		        </tr>
		  		<tr>
		  			<td colspan="2" align="center">
		  				<button type="submit" class="pure-button pure-button-primary">Register</button>
		  			</td>
		  		</tr>
		    </tbody>
		</table>
	</form>
	</div>

	<div class="menu">
		<a href="/"><button class="pure-button pure-button-small">Back list</button></a>
	</div>

{% include "inc/footer" %}